.Footer {
	left: 0;
	bottom: 0;
	right: 0;
	height: 100px;
	margin-top: 15%;
	background-color: #007bff;
	

}
a {
	color:#f4f4f4;
}

.Footer li {
	padding: 20px;
	color:#f4f4f4;
	
}
.Footer i:hover{
	transition: all 0.5s ease-in-out 0.1s;
}