.MovieBtn {
    background-color: #008CBA;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.MusicBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.HeroImage {
    max-width: 100%;
    background-image: url('../assets/smile.jpg');
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    background-position: center;

}
.hrLine {
    border-top:3px solid #f10000;
}