.DetailContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
.RatingContainer {
    display: flex;
}
.DetailInfoContainer {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
}
.DescribeText {
    padding: 50px;
}
