.ArtistAvatar {
    border-radius: 200px;
    max-height: 400px;
    margin-bottom: 20px;
}
.ArtistContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
textarea {
    resize: none;
}

.HeroImage {
    max-width: 100%;
    background-image: url('../assets/headphones.jpg');
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    background-position: center;
}
.hrLine {
    border-top:3px solid #f10000;
}